

@font-face {
  src: url("../fonts/ForestryScript.ttf");
  font-family: ForestryScript;
}

body {
  margin: 0;
  font-size: 3.2vw;
  font-family: ForestryScript;
  background-color: #FAA7C1;
  color: #191007;
}

.banner {
  display: flex;
  justify-content: center;
}

.backdoor {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
}

.cta-back {
  color: blue;
  border: 2px solid blue;
  padding: 5px 10px;
}

.circular--landscape {
  /* display: inline-block;
  position: relative; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 800px;
  height: 800px; */
  width: 90vw;
  height: 90vw;
  overflow: hidden;
  border-radius: 50%;
  border: 2vw solid #DC2948;
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
     /* margin-left: -140px; */
     margin-left: -16vw;
   }
