@font-face {
  src: url("../fonts/MLTWNII_.ttf");
  font-family: Matrix;
}

.centered {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  color: #006D12;
  background-image: url("../Media/matrix-code.webp");
  background-size: contain;
  font-family: 'Silkscreen', cursive;
  font-size: 3.2vw;
}

.title-banner {
  background-color: rgba(0,0,0,.9);
  height: auto;
  padding-bottom: .5vh;
}

.banner {
  margin: 10vh auto;
  width: 80vw;
  background-color: rgba(0,0,0,.9);
  height: auto;
}

.title {
  padding-top: 1vh;
  font-size: 8vw;
  font-weight: bolder;
  font-family: Matrix;
}


.btn {
  margin-top: 50px;
  border: 1vw solid #006D12;
  color: #006D12;
  background-color: rgba(0,0,0,0.9);
  font-family: inherit;
  padding: 2vw;
  font-size: 3.2vw;
}

.backdoor {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
}

.cta-back {
  color: blue;
  border: 2px solid blue;
  padding: 5px 10px;
  background: #006D12;
}
