@font-face {
  src: url("../fonts/MLTWNII_.ttf");
  font-family: Matrix;
}

.centered {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  color: #006D12;
  background-image: url("../Media/matrix-code.webp");
  background-size: contain;
  font-family: 'Silkscreen', cursive;
}

.title-banner {
  background-color: rgba(0,0,0,1);
  height: 80px;
}

.banner {
  margin: 20px auto;
  width: 450px;
  background-color: rgba(0,0,0,1);
  height: auto;
}

.title {
  padding-top: 15px;
  font-weight: bolder;
  font-size: 40px;
  font-family: Matrix;
}

.backdoor {
  margin-top: 20px;
  color: white;
}

.btn {
  margin-top: 50px;
  border: 2px solid #006D12;
  color: #006D12;
  background-color: rgba(0,0,0,0.9);
  font-family: inherit;
  font-size: 18px;
  padding: 8px;
}

.backdoor {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
}

.cta-back {
  color: blue;
  border: 2px solid blue;
  padding: 5px 10px;
  background: #006D12;
}
