body {
    font-size: 7vw;
}

.bottom-menu {
  display: flex;
  justify-content: center;
}

.bottom-menu-choices {
  margin: 0 2vh;
}

.banner {
  display: flex;
  justify-content: center;
}

.list {
  margin-left: 1vh;
}
